body {
    background-color: azure;
    padding-top: 70px;
    margin-left: 200px;
    margin-right: 200px;
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 340px;
}

